.top-navigation {
  background-color: #2F302C;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-menu {
    display: flex;
    gap: 10px;
    align-items: center;

    .menu-item {
      padding: 12px;
      color: white; 
      gap: 44px;
      display: flex;
      flex: 1 0 0;
      cursor: pointer;
      user-select: none;
      font-size: 13px;
      &.logo{    
        min-width: 80px;
        font-size: 18px;
      }

      &:hover {
        color: #83CEF9;
      }
    }

    .dropdown {
      position: relative;

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #333;
        top: 100%;
        left: 0;
        min-width: 160px;
        z-index: 1;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

        .menu-item {
          padding: 15px;
          color: white;
          text-align: left;
          cursor: pointer;
          border-bottom: 1px solid #555;

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            background-color: #EEEEEE; 
            color: black;
          }
        }
      }
    }
    .search-container{
      position: relative;
    img{
      position: absolute;
      top: 3px;
      left: 0;
      height: 16px;
    }
    .search-input{
      min-width: 120px;
      background: transparent;
      border: 0;
      border-bottom: 1px solid white;
      color: white;
      outline: none;
      box-shadow: none;
      padding: 4px;
      padding-left: 20px;

    }
  }
}
}

/* Show the dropdown content when the "More" menu is open */
.top-navigation .main-menu .dropdown:hover .dropdown-content {
  display: block;
}
